#importation{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    
    button{
        i.fas{
            font-size: 3.5vh;
            padding: 1rem;
            display: block;
        }
        span{
            color: white;
        }

    }
}