$primary: #a84caf;
$primary-variant: #e65299;
$secondary: #00c0ba;
$secondary-variant: #3acfb0;
$background: #262933;
$background-variant:#444453;
$surface: #fff;
$surface-variant: #ddd;
$error: #b00020;

$on-primary: #fff;
$on-secondary: #fff;
$on-background: #fff;
$on-background-variant: #aaa;
$on-surface: $background;
$on-error: #fff;

$default-margin: 2em;
$default-padding: 2em;