@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');


@mixin phone {
    @media only screen and (max-width : 800px) {
      @content;
    }
}
@mixin box-shadow{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
@mixin box-shadow-hover{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.24);
}
@mixin transition($timer : 0.4s){
    transition: all $timer;
}

*{
    box-sizing: border-box;
    margin: 0; padding: 0;
}

html, body{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    
    background: $background;
    color: $on-background;

    overflow-x: hidden;
}

div.page{
    width: 60vw;
    min-height: 80vh;
    margin-left: 10vw;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;

    background: $surface;
    color: $on-surface;

    @include box-shadow;

    main{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        padding: $default-padding;
    }
}

h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
}

.header-gradient{
    background: linear-gradient(90deg, $secondary 0%, $primary  50%, $secondary 100%);
    background-size: 200% 200%;
    border-radius: 0 8px 8px 0;
    height: 50px;
    width: 80vw;

    animation-name: gradient;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

    position: relative;
    
    div{
        width: 60vw;
        height: 25px;
        background: $surface;

        position: absolute; left: 10vw; bottom: 0;
    }
}
@keyframes gradient{
    from{
        background-position: 100% 0%
    }
    to {
        background-position: 0% 0%
    }
}

.bg-primary{
    background: $primary !important;
    color: $on-primary !important;
}
.bg-secondary{
    background: $secondary !important;
    color: $on-secondary !important;
}
.bg-white{
    background: $surface !important;
    color: $on-surface !important;

    &:hover{
        background: $surface-variant !important;
    }
}

.lotohack{
   background: linear-gradient(90deg, $primary, $secondary);
   background-clip: text;
  -webkit-text-fill-color: transparent;
}

a{
    color: $primary;

    @include transition();
}

button, input[type=button]{
    padding: 0.7rem 1rem;
    border-radius: 3px;
    @include transition(0.5s);

    @mixin button($color, $bg, $hoverColor, $hoverBg){
        color: $color; background: $bg;
        border: solid 1px $bg;

        &:hover{
            color: $hoverColor; background: $hoverBg;
        }
    }

    &.btn-primaire{
        @include button($on-primary, $primary, $primary, $surface);
    }
    &.btn-secondaire{
        @include button($on-secondary, $secondary, $secondary, $surface);
    }
    
}

@import 'header';
@import 'template';
@import 'footer';